<style>
  .carousel { background-color: #CCC; }
</style>

<%# main application template %>
<script type="text/x-handlebars">
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">slang.uage.org</a>
      <ul class="nav navbar-nav">
        {{#linkTo 'slangs' tagName='li' href=false}}
          {{#linkTo 'slangs'}}slangs{{/linkTo}}
        {{/linkTo}}
        {{#linkTo 'about' tagName='li' href=false}}
          {{#linkTo 'about'}}about{{/linkTo}}
        {{/linkTo}}
      </ul>
      {{#if isSignedIn}}
        <p class='navbar-text'>{{#linkTo 'signout' classNames="navbar-link pull-right"}}sign out{{/linkTo}}</p>
      {{else}}
        <p class='navbar-text'>{{#linkTo 'signin' classNames="navbar-link pull-right"}}sign in{{/linkTo}}</p>
      {{/if}}
    </div>
  </div>

  {{outlet}}
</script>

<script type="text/x-handlebars" id="index">
<div class="carousel jumbotron slide" id="mainHero">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mainHero" data-slide-to="0" class="active"></li>
    <li data-target="#mainHero" data-slide-to="1"></li>
    <li data-target="#mainHero" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <h1>
        Your words. </br>
        Your friends. </br>
        Your slang.
      </h1>
      <span class="tagline">we.speak.your.language</span>
    </div>
    {{#each model}}
      <div class="item">
        <h1 class="word">{{this.name}}</h1>
        <div class="description">{{this.description}}</div>
        <div class="origin">{{this.origin}}</div>
        <div class="etymology">{{this.etymology}}</div>
        <div class="slangs">[{{this.slang.name}}]</div>
        <div class="cta"><a class="btn btn-primary btn-lg">Start your slang</a></div>
      </div>
    {{/each}}
  </div>
</div>
</script>

<script type="text/x-handlebars" id="about">
about
</script>

<script type="text/x-handlebars" id="signin">
signin
</script>

<script type="text/x-handlebars" id="slangs">
slangs
{{outlet}}
</script>

<script type="text/x-handlebars" id="slangs/index">
index
</script>

<script type="text/x-handlebars" id="slangs/new">
new
</script>

<script type="text/x-handlebars" id="slangs/edit">
edit
</script>

<script type="text/x-handlebars" id="slangs/show">
show
</script>

<script type="text/x-handlebars" id="words">
words
{{outlet}}
</script>

<script type="text/x-handlebars" id="words/index">
index
</script>

<script type="text/x-handlebars" id="words/new">
new
</script>

<script type="text/x-handlebars" id="words/edit">
edit
</script>

<script type="text/x-handlebars" id="words/show">
show
</script>
